<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="3" android:versionName="1.0" package="com.siramix.phrasecraze">

  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application android:icon="@drawable/icon" android:label="@string/AppName"
    android:theme="@style/PhraseCrazeTheme" android:name=".PhraseCrazeApplication"
    android:configChanges="keyboardHidden">

    <service android:name="BillingService" />

    <receiver android:name="BillingReceiver">
      <intent-filter>
        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
      </intent-filter>
    </receiver>

    <activity android:name=".SplashScreen" android:label="@string/AppName"
              android:screenOrientation="landscape">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="com.siramix.phrasecraze.intent.action.SPLASHSCREEN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

		<activity android:name=".Title" android:label="@string/AppName"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.TITLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".Settings" android:label="@string/AppName"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".Settings" android:label="@string/AppName"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>    
		
		<activity android:name=".PhrasePackPurchase" android:label="@string/AppName"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.PHRASEPACKPURCHASE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		    
		<activity android:name=".Rules" android:label="@string/AppName"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.RULES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Buzzer" android:label="@string/AppName"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.BUZZER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".GameSetup" android:label="@string/AppName"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.GAMESETUP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Turn" android:label="@string/AppName"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.TURN"></action>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".GameEnd" android:label="@string/AppName"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.GAMEEND"></action>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".TurnSummary" android:label="@string/AppName"
		  android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.TURNSUMMARY"></action>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".CardReview" android:label=""
			android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.siramix.phrasecraze.intent.action.CARDREVIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>	
		</activity>
				
		<activity android:name=".EditTeamName" android:label=""
      android:theme="@style/EditTeamNameDialog"
      android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="com.siramix.phrasecraze.intent.action.EDITTEAMNAME"></action>
        <category android:name="android.intent.category.DEFAULT"></category>
      </intent-filter>  
    </activity>
		
		<activity android:name=".AssignPoints" android:label=""
      android:theme="@style/AssignPointsDialog"
      android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="com.siramix.phrasecraze.intent.action.ASSIGNPOINTS"></action>
        <category android:name="android.intent.category.DEFAULT"></category>
      </intent-filter>
    </activity>
    
	</application>
	
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7" />

</manifest> 
